__pycache__/
*.py[cod]
*.pyo
*.pyc

.env
.venv/
venv/
env/
env.bak/
venv.bak/

instance/
.webassets-cache/

*.log
*.sqlite3
*.db
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

*.pem
manifest*.bak

node_modules/
dist/

.vscode/
.idea/
.cursorignore
.cursorindexingignore

.DS_Store
Thumbs.db
